= render("shared/content_card") do
  %h2.copy_heading
    Accommodation
  %p
    As it’s a bank holiday weekend, we recommend booking sooner rather than later.
  %p
    There are lots of places to stay around the Cotswolds. 
  %p
    The closest town is Cirencester and there are many
    villages with small hotels, bnbs and nice pubs with rooms.
  %p Some suggestions that the wedding venue recommended:
  %ul
    %li The Inn at Fossbridge
    %li The New Inn at Coln
    %li Swan Hotel, Bibury
    %li Village Pub, Barnsley
    %li Wheatsheaf Inn, Northleach
    %li
      %a{href:'https://crippsandco.com/cripps-barn/accommodation', :target => "_blank"} See more here
  %p Some cheaper options:
  %ul
    %li Barrel Store, Cirencester
    %li Eliot Arms, Cirencester 
    %li Bull Hotel, Fairford
    %li Masons Arms, Maysey Hampton
    %li
      %a{href:'https://tinyurl.com/u6m85x7'} Airbnb
    %li
      %a{href:'https://www.booking.com', :target => "_blank"} Booking.com