= render("shared/content_card") do
  =image_tag("greenery2.png", class: 'img')
  %p
    Please join us to celebrate the wedding of 
  %p.copy_heading#names
    Samuel Oxley & Elizabeth Evans 
  =image_tag("portrait.jpg", class: 'img couple_img', alt: 'Sam and Lizzie')
  %p
    Saturday 14th August, 2021 at 1.30pm
  %p
    Cripps Barn 
    %br/
    Fosscross Lane
    %br/
    Cirencester 
    %br/
    GL7 5BA
    %br/
    %a{href: 'https://g.page/cripps-barn?share'}
      View map
    %br/
  %p
    Reception to follow

  %p
    Please use the link provided in your invitation to confirm your attendance.