= render("shared/content_card") do
  %h2.copy_heading
    Sunday
  %p
    We would love you to join us the day after for a BBQ, 
    to see everyone in a more relaxed setting with 
    garden games and Pimm’s.
  %p
    This will be in Hawling, GL54 5TB, which is around a 
    20 minute drive from the wedding venue. 
  %p
    Please let us know if you can make it to this so we 
    have an idea of numbers for catering.
  %p
    There is also a hot tub onsite so please feel free 
    to bring your togs (bathers) and a towel.