.copy_container {
  display: flex;
  justify-content: center;
}
.copy {
  width: 40%;
  background-color: white;
  padding: 1rem 2rem;
  margin-top: 2rem;
  min-height: 30rem;
}
.copy > p {
  line-height: 1.75;
}
.copy > p > a,
.copy > p > span > a,
.copy > ul > li > a {
  text-decoration: underline;
  color: #41433F;
}
.copy > ul > li {
  line-height: 2;
}
.copy_heading {
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 2.5rem;
  margin: 1rem 0 0 0;
}