= render("shared/content_card") do
  %h2.copy_heading
    Wedding Details
  %p
    The address for our wedding venue is:
  %p
    Cripps Barn 
    %br/
    Fosscross Lane
    %br/
    Cirencester 
    %br/
    GL7 5BA
    %br/
    %a{href: 'https://g.page/cripps-barn?share'}
      View map  
    %br/
  %p
    Please arrive promptly by 1.30pm, the ceremony will start at 1.45pm. 
  %p
    The wedding reception will take place at the same venue as the ceremony and will finish at 1.00am.
  %h3
    Dress code
  %p
    Lounge suits (suit and tie).
  %p 
    Weather permitting, we will have a garden ceremony outside 
    on grass, so please wear appropriate footwear. We hope you 
    will need sunglasses for the day but maybe bring something 
    warm for the evening as the UK weather can be unpredictable.

  %h3
    Can I bring a plus one?

  %p 
    No, sorry. But your plus one is welcome at the Sunday function. 
    Please let Sam and Lizzie know if you plan to bring a guest on Sunday.

  %p 
    If you have any other questions please email hello@samandlizzie.wedding

  =image_tag("hands.jpg", class: 'img hands_img', alt: 'Sam and Lizzie')
