= render("shared/content_card" do
  %h2.copy_heading
    Gifts 
  %p 
    Your presence at the wedding is the best gift of all and we know many of you have travelled a long way at great expense.
  %p
    For those who do want to purchase a gift, we will have a wedding registry. Details will be provided soon.
    -# %a{href: 'https://prezola.com/wishlists/10210675/'}
    -#   wedding registry. 