%p
  Please join us to celebrate the wedding of 
%p
  %span.copy_heading
    Samuel &nbsp; Oxley &nbsp; & &nbsp;  Elizabeth &nbsp; Evans 

%p
  Saturday 29th August 2020 
%p From 1.30pm, at
%p
  Cripps Barn 
  %br/
  Fosscross Lane
  %br/
  Cirencester 
  %br/
  GL7 5BA
  %br/
  View map (link)
  %br/
%p
  Reception to follow

%p
  Please use the link provided in your invitation to confirm your attendance.