%p
  Please join us to celebrate the wedding of 
%p
  %span.copy_heading
    Samuel &nbsp; Oxley &nbsp; & &nbsp;  Elizabeth &nbsp; Evans 
=image_tag("img_1.jpg", class: 'img')
%p
  Saturday 29th August, 2020 at 1.30pm
%p
  Cripps Barn 
  %br/
  Fosscross Lane
  %br/
  Cirencester 
  %br/
  GL7 5BA
  %br/
  %a{href: 'https://g.page/cripps-barn?share'}
    View map
  %br/
%p
  Reception to follow

%p
  Please use the link provided in your invitation to confirm your attendance.