.header
  %div
    %h1.fancy_heading
      Sam and Lizzie
    %p.sub_heading 
      29 August, 2020
  .navigation_contain
    .navigation
      .nav-elements
        Details 
      .nav-elements
        Sunday
      .nav-elements
        Accomodation 
      .nav-elements
        Transport 
      .nav-elements
        Gifts