%h2.copy_heading
  Transport 
%h3 Trains

%p Kemble is the nearest station, 23 minutes’ drive away. There are direct trains from London Paddington which take 1 hour 12 minutes (and others which involve a change at Swindon). 

%p Swindon station is a 30 minute drive away, with direct trains from London Paddington that take just under an hour. 

%p Cheltenham Spa station is a 30 minute drive away, there are direct trains from Manchester Piccadilly and London Paddington that take just over 2 hours. 

%p 
  For those coming from abroad, we recommend using 
  %span 
    %a{href: "https://www.thetrainline.com/"}this website
  to book tickets.

%h3 Taxis

%p As the Cotswolds is fairly rural, we recommend booking a taxi to and from the wedding in advance.
%p Please arrive at the venue by 1.30pm as the ceremony will commence at 1.45pm. 
%p The wedding reception will finish at 1.00am

%h4 Local taxi companies:		
%em Please note that many of these will take cash only.

%ul
  %li Coln Valley Cabs (Bibury)		07812 740 070
  %li Cotswolds taxis 			07895575795
  %li Cirencester Taxis 			01285 642 767
  %li A 2 B Taxis				01285 655 651
  %li Brian's Cabs				01285 655 299
  %li Cirencester Radio Cars			01285 651 117 or 01285 650 850
  %li SirenCars				01285 652 388
  %li Cirencester Where 2 Taxi Service		01285 656 148
  %li Home James Taxis			01285 641 339
  %li Phoenix Cabs				07519 126 121
  %li Reliance Taxis				07787 790 644
  %li T4 Taxis					01285 641 590 
  %li Centurion Taxis				01285 659 288

%h3 Cars
%p Parking is available at the venue.