.header
  %div
    %h1.fancy_heading
      Sam and Lizzie
    %p.sub_heading
      Saturday 14 August, 2021
  .navigation_container
    .navigation
      %a.nav-elements{href: "/"}
        Home
      %a.nav-elements{href: "/rsvp"}
        RSVP
      %a.nav-elements{href: "/details"}
        Wedding Details
      %a.nav-elements{href: "/sunday"}
        Sunday
      %a.nav-elements{href: "/accommodation"}
        Accommodation
      %a.nav-elements{href: "/transport"}
        Transport
      %a.nav-elements{href: "/gifts"}
        Gifts
