.header
  %div
    %h1.fancy_heading
      Sam and Lizzie
    %p.sub_heading 
      Saturday 29 August, 2020
  .navigation_container
    .navigation
      %button.nav-elements{href: "/"}
        Home
      %button.nav-elements{href: "/rsvp"}
        RSVP
      %button.nav-elements{href: "/details"}
        Wedding Details
      %button.nav-elements{href: "/sunday"}
        Sunday
      %button.nav-elements{href: "/accomodation"}
        Accomodation
      %button.nav-elements{href: "/transport"}
        Transport
      %button.nav-elements{href: "/gifts"}
        Gifts
        