
.header
  %div
    %h1.fancy_heading
      Sam and Lizzie
    %p.sub_heading 
      29 August, 2020
  .navigation_container
    .navigation
      .nav-elements
        %a{:href => "/"}
          Home
      .nav-elements
        %a{:href => "/details"}
          Details
      .nav-elements
        %a{:href => "/sunday"}
          Sunday
      .nav-elements
        %a{:href => "/accomodation"}
          Accomodation
      .nav-elements
        %a{:href => "/transport"}
          Transport
      .nav-elements
        %a{:href => "/gifts"}
          Gifts
        