.header
  %div
    %h1.fancy_heading
      Sam and Lizzie
    %p.sub_heading 
      29 August, 2020
  .navigation_contain
    .navigation
      .nav-elements
        %a{:href => "#link", :target => "{target}"}
          Details
      .nav-elements
        %a{:href => "#link", :target => "{target}"}
          Sunday
      .nav-elements
        %a{:href => "#link", :target => "{target}"}
          Accomodation
      .nav-elements
        %a{:href => "#link", :target => "{target}"}
          Transport
      .nav-elements
        %a{:href => "#link", :target => "{target}"}
          Gifts
        