
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
  </head>
  <style>
    p {
      font-family: 'Montserrat', sans-serif;
    }
  </style>
  <body>
    <img style="width: 550px" src='https://www.samandlizzie.wedding/assets/greenery2-d0add2afbc67347f6f80f319c483d0a799e0019c47d5e224e59850feb2b85b06.png' />
    <p>
      Dear <%= first_name_var %> and <%= surname_var %><br>
    </p>
    <p>
      Please join us to celebrate the wedding of Samuel Oxley and Elizabeth Evans.
    </p>
    <p>Saturday, 29th August 2020 at 1.30pm</p>
    <p>Cripps Barn <br>
    Fosscross Lane <br>
    Cirencester <br>
    GL7 5BA <br>
    </p>
    <p>Please RSVP <a href="#rsvp_link_var">here</a></p>
    <img style="width: 550px" src='https://www.samandlizzie.wedding/assets/hands-c599ad0e5f11bd6f57a4144cb8bad97e8ae6710f2905b7b382cbdcc79ab1b352.jpg'/>
  </body>
</html>
